body {
  background-color: aliceblue;
  max-width: 987px;
  margin: 0 auto;
}

.div-header {
  background-color: aqua;
  height: 48px;
}

.div-main {
  background-color: #315fa4;
  height: 420px;
  margin-bottom: 20px;
}

.container {
  margin: 0 auto;
}
.col {
  width: 100%;
  margin-bottom: 20px;
  height: 220px;
  background-color: #ca1dcd;
  display: block;
}
.col:nth-child(3) {
  margin-right: 0px;
}

.div-footer {
  background-color: #c01887;
  height: 172px;
}
@media screen and (min-width: 767px) {
  body {
    background-color: red;
    max-width: 987px;
    margin: 0 auto;
  }
  .col {
    width: 313px;
    margin-right: 20px;
    height: 220px;
    display: inline-block;
  }
}
